node_modules/
public/
resources/
.hugo_build.lockZ

static/galeri/thumbnails/Biro Organisasi (BERAKHLAK).mp4
static/Dokumen-dan-Data/DPA BIRO ORGANISASI TAHUN 2025.pdf
static/laporan/LKJ BIRO ORGANISASI 2022.pdf