{{ define "main" }}
<h1 class="text-3xl font-bold mb-4 mt-2 text-center">{{ .Page.LinkTitle }}</h1>
<section class="grid place-items-center py-32 relative">

    <div>

    </div>
    <div class="grid grid-cols-3 gap-6">
        {{ range .Site.Pages.GroupBy "Type" }}
        <div class="col-span-3 text-bold">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-folder-open">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2" />
            </svg>
            {{ .Key }}
        </div>
        {{ range .Pages }}
        <div class="pl-6 col-span-3 flex">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circles-relation">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9.183 6.117a6 6 0 1 0 4.511 3.986" />
                <path d="M14.813 17.883a6 6 0 1 0 -4.496 -3.954" />
            </svg>
            <h4>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h4>
        </div>
        {{ end }}
        {{ end }}
    <div>
    </div>
    </div>

</section>

{{ end }}
